* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image:url(/public/images/sport.jpg)  ;
   background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
  background: rgb(248, 246, 246);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.login-container h2 {
  margin-bottom:20px ;
  color: #333;

}
.input-group {
  margin-bottom: 15px;
  text-align: left;
  color: #101010;
}
.input-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border:  1px solid #ccc;
  border-radius: 5px;
}
.remeber-me {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}
.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0072ff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor:  pointer;
  transition: 0.3s;
}
.login-btn:hover {
  background: #07090a;
  
}
#message {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.login-toto {
  background: url(/public/images/) ;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.login-formss {
  position: relative;
  z-index: 2;
  background-color: #f0f0ee;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-formss h2 {
  margin-bottom: 20px;
  color: #333;
}


.login-formss input[type="text"],
.login-formss input[type="email"],
.login-formss input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}


.login-formss button {
  width: 100%;
  padding: 12px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-formss button:hover {
  background-color: #2980b9;
}

#messagess {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.error {
  color: #e74c3c;
}

.success {
  color: #2ecc71;
}


.login-formss a {
  color: #3498db;
  text-decoration: none;
  font-weight: 500;
}

.login-formss a:hover {
  text-decoration: underline;
}